.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Горизонтальное выравнивание блоков по центру */
    margin-top: 25px;
  }
  
  .column {
    flex: 1; /* Равное распределение пространства между колонками */
    display: flex; /* Включаем flexbox для колонок */
    align-items: center; /* Вертикальное выравнивание содержимого по центру */
    justify-content: center; /* Горизонтальное выравнивание содержимого по центру */
    min-width: 33.333%; /* Минимальная ширина каждой колонки */
    max-width: 33.333%; /* Максимальная ширина каждой колонки */
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px; /* Отступ вокруг содержимого каждой колонки */
    min-height: 100px; /* Минимальная высота колонок для наглядности */
    /* border: 1px solid #ccc; */
    border-radius: 25px;
    box-shadow: 0 4px 6px -1px rgba(198, 198, 198, 0.1), 0 2px 4px -1px rgba(224, 200, 200, 0.06);
  }
  
  /* Со стандартных грид-диапазонов — меньше 600px обычно считается мобильным устройством */
  @media (max-width: 724px) {
    .column {
      margin-right: 0px;
      min-width: 100%; /* На маленьких экранах каждая колонка занимает 100% ширины */
      max-width: 100%;
    }
  }