.container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 50vh; 
}
.table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: black;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #212222;
    color: white;
}

.table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.totalRow {
    font-weight: bold;
    background-color: #f8f8f8;
}